*.pyc
.project
.pydevproject
.settings
.tox/
.cache/
.coverage/
.DS_store
.pytest_cache/
.tox/
*.swp
.idea
*.sqlite3
*~
Pipfile.lock
private_settings.py
docs/build
dist
assets/
node_modules/
workdir/
